
.item:hover {
  transition: background-color 0.5s;
  background-color: rgb(176, 216, 248);
  cursor: pointer;
}

.delete {
  float: none;
  margin-left: 90%;
}

.text {
  font-size: small;
}

.author {
  font-size: small;
  font-style: italic;
  padding-right: 20px;
}